.accordion {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(28, 51, 116, 0.2);
  border-bottom: 1px solid rgba(28, 51, 116, 0.2);

  &__element:last-child {
    margin-bottom: 0;
    padding-bottom: 24px;

    @include vp-767 {
      padding-bottom: 20px;
    }
  }

  &__element {
    margin-bottom: 0;
    padding: 25px 0 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.3s ease;

    &[open] {
      padding: 25px 0;

      .accordion__icon-open {
        display: none;
      }

      .accordion__icon-close {
        display: block;
        stroke: $color-icon-light;
        fill: $color-icon-dark;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(28, 51, 116, 0.2);
    }

    @include vp-1199 {
      padding: 25px 0 24px;
      gap: 8px;
    }

    @include vp-767 {
      padding: 20px 0;
      gap: 12px;

      &[open] {
        padding: 20px 0;
      }
    }
  }

  &__button {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: $ff-roboto-condensed;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    text-align: left;
    color: $color-default-black;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    .accordion__icon-open {
      display: block;
      fill: $color-icon-light;
      stroke: $color-icon-dark;

      @include vp-767 {
        width: 32px;
        height: 32px;
      }
    }

    .accordion__icon-close {
      display: none;

      @include vp-767 {
        width: 32px;
        height: 32px;
      }
    }

    &:hover,
    &:focus {
      .accordion__icon-open {
        stroke: $color-icon-light;
        fill: $color-icon-dark;
      }
    }

    &:disabled {
      cursor: auto;

      .accordion__icon-close {
        display: none;
      }

      .accordion__icon-open {
        display: block;
        fill: $color-icon-light;
        stroke: $color-icon-dark;
        opacity: 0.5;
      }
    }

    @include vp-767 {
      display: grid;
      grid-template-columns: repeat(2, auto);
      font-size: 18px;
      gap: 20px;
    }
  }

  &__wrapper {
    padding: 10px 23% 0 0;
    margin: 0;
    margin-bottom: -2px;
    font-family: $ff-roboto-condensed;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;

    @include vp-1199 {
      padding: 8px 23% 0 0;
    }

    @include vp-767 {
      padding: 12px 0 0 0;
      font-size: 16px;
    }
  }
}

.accordion__title {
  margin: 0;
  font-size: 24px;
  line-height: 120%;
}

.accordion__inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
