.advantages {
  background-color: $color-additional-background;

  .container {
    padding: 119px 165px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include vp-1199 {
      padding: 91px 43px;
    }

    @include vp-767 {
      padding: 63px 0 60px;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 55px;
    font-weight: 600;
    font-size: 54px;
    line-height: normal;
    letter-spacing: 1.62px;

    @include vp-1199 {
      margin-bottom: 45px;
      padding-right: 23px;
      font-size: 42px;
      letter-spacing: 1.26px;
    }

    @include vp-767 {
      margin-bottom: 53px;
      padding-right: 18px;
      font-size: 32px;
      letter-spacing: 0.96px;
    }
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 340px 240px 340px;
  gap: 80px 60px;
  font-family: $ff-roboto-condensed;

  @include vp-1199 {
    width: 100%;
    grid-template-columns: repeat(2, auto);
    gap: 40px 0;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

.advantages__item {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
  margin-top: -3px;
  padding-bottom: 75px;

  @include vp-1199 {
    margin: 0;
    padding: 0;
    width: fit-content;
    justify-self: center;
    align-items: center;
  }

  @include vp-767 {
    flex-direction: column;
    text-align: center;
    align-self: center;
    gap: 8px;
    width: 100%;
  }

  &:not(:nth-last-child(-n + 2)):not(:first-child) {
    border-bottom: 1px solid rgba(209, 10, 66, 0.2);

    @include vp-1199 {
      border: none;
    }
  }

  &:nth-child(even) {
    grid-column: 1 / 2;
    padding-left: 20px;

    @include vp-1199 {
      padding-left: 0;
    }

    @include vp-767 {
      grid-column: 1 / -1;
    }
  }

  &:nth-child(odd):not(:first-child) {
    grid-column: -1 / -2;

    @include vp-1199 {
      grid-column: 2 / -1;
    }

    @include vp-767 {
      grid-column: 1 / -1;
    }
  }

  &:nth-last-child(-n + 2) {
    align-self: flex-end;
    margin-bottom: -7px;
    padding-bottom: 0;

    @include vp-1199 {
      margin-bottom: 0;
    }

    @include vp-767 {
      align-self: center;
    }
  }
}

.advantages__item-data-wrapper {
  margin: 0;
  display: flex;
  flex-direction: column-reverse;

  dt {
    margin-top: -25px;
    font-size: 14px;
    color: #2e35ac;
  }

  dd {
    max-width: 200px;
    margin-top: -25px;
    margin-bottom: 0;
    margin-left: 0;
    font-weight: 700;
    font-size: 71px;
    line-height: 150%;
    background-image: $color-additional-gradient;
    color: transparent;
    background-clip: text;

    @include vp-1199 {
      font-size: 58px;
    }
  }

  @include vp-1199 {
    gap: 3px;
  }

  @include vp-767 {
    align-self: center;
    gap: 5px;
  }
}

.advantages__item-description-wrapper {
  display: flex;
  flex-direction: column;
  gap: 9px;

  h3 {
    margin: 0;
    font-size: 22px;

    @include vp-1199 {
      font-size: 20px;
    }
  }

  p {
    margin: 0;
    min-width: 200px;

    @include vp-1199 {
      width: 233px;
    }
  }

  @include vp-1199 {
    gap: 5px;
  }
}

.advantages__item--alt {
  height: 100%;
  position: relative;
  grid-column: 2 / 3;
  grid-row: 1 / span 2;
  padding: 61px 20px 58px;
  margin: 0;
  flex-direction: column;
  align-items: center;
  gap: 31px;
  text-align: center;
  color: $color-default-white;
  background-color: #1c3374;

  dt {
    font-weight: 700;
    font-size: 26px;
    line-height: 150%;
    color: $color-default-white;

    @include vp-1199 {
      font-size: 22px;
    }
  }

  dd {
    margin-left: 0;
    margin-bottom: 9px;
    font-size: 74px;
    color: $color-default-white;

    @include vp-1199 {
      margin-bottom: 2px;
    }

    @include vp-767 {
      margin-bottom: -4px;
    }
  }

  p {
    margin: 0;

    @include vp-1199 {
      padding: 0 10px;
    }
  }

  @include vp-1199 {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding: 40px 105px 37px;
    margin-bottom: 4px;
    width: fit-content;
    height: auto;
    gap: 15px;
  }

  @include vp-767 {
    grid-row: 3 / 4;
    width: 100%;
    margin-bottom: 12px;
    padding: 45px 74px 43px;
    gap: 9px;
  }
}

