.contacts {
  background-color: $color-default-background;

  .container {
    padding: 57px 110px 63px 124px;
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #74819c;
    }

    @include vp-1199 {
      padding: 61px 127px 63px 134px;
    }

    @include vp-767 {
      padding: 64px 15px 62px;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 38px;
    font-weight: 600;
    font-size: 54px;
    line-height: normal;
    letter-spacing: 1.62px;

    @include vp-1199 {
      margin-bottom: 32px;
      font-size: 42px;
      letter-spacing: 1.26px;
    }

    @include vp-767 {
      margin-bottom: 34px;
      font-size: 32px;
      letter-spacing: 0.96px;
    }
  }
}

.contacts__info-wrapper {
  display: flex;
  font-family: $ff-roboto-condensed;

  @include vp-767 {
    flex-direction: column;
    gap: 19px;
  }
}

.contacts__info-inner-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 17px;

  dl {
    margin: 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include vp-767 {
      gap: 6px;
    }
  }

  dt {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    @include vp-1199 {
      font-size: 20px;
    }
  }

  dd {
    margin: 0;
    font-size: 14px;
    line-height: 152%;

    @include vp-1199 {
      font-size: 18px;
    }
  }

  &:not(:first-child) {
    padding-left: 60px;

    @include vp-1199 {
      padding-left: 47px;
    }

    @include vp-767 {
      padding-left: 0;
    }
  }

  &:not(:last-child) {
    padding-right: 62px;

    &::before {
      position: absolute;
      right: 0;
      content: "";
      width: 1px;
      height: 100%;
      background-color: #74819c;

      @include vp-767 {
        content: none;
      }
    }

    @include vp-1199 {
      padding-right: 49px;
    }

    @include vp-767 {
      padding-right: 0;
    }
  }

  @include vp-1199 {
    width: fit-content;
    gap: 22px;
  }

  @include vp-767 {
    gap: 18px;
  }
}
