.footer {
  background-color: $color-background-footer;

  .container {
    padding: 40px 103px 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: ($vp-1200 - 1)) {
      padding: 47px 45px 44px;
    }

    @media (max-width: ($vp-768 - 1)) {
      padding: 47px 15px 55px;
      flex-direction: column;
      gap: 31px;
    }
  }
}

.footer__item {
  &--logo {
    margin-right: auto;
  }
}

.footer__logo {
  width: 88px;
  height: 32px;

  @media (max-width: ($vp-1200 - 1)) {
    width: 82px;
    height: 18px;
  }

  @media (max-width: ($vp-768 - 1)) {
    width: 68px;
    height: 15px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  max-width: 1000px;
  width: 100%;

  @media (max-width: 1700px) {
    max-width: 900px;
  }

  @media (max-width: 1500px) {
    max-width: 800px;
  }

  @media (max-width: ($vp-1200 - 1)) {
    gap: 30px;
    max-width: 533px;
  }

  @media (max-width: ($vp-768 - 1)) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 16px 27px;
    align-self: flex-start;
    grid-auto-flow: column;
  }
}

.footer__link {
  padding: 10px 0;
  font-family: $ff-roboto-condensed;
  font-size: 14px;
  line-height: normal;
  color: $color-default-white;
}

.footer__social-list {
  @media (max-width: ($vp-768 - 1)) {
    align-self: flex-start;
  }
}
