.form-and-contacts-wrapper {
  .container--additional {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include vp-1199 {
      display: flex;
      flex-direction: column;
    }
  }
}
