.gym {
  background-color: $color-default-background;

  .container {
    padding: 120px 103px 235px 163px;
    display: flex;
    gap: 85px;

    @include vp-1199 {
      padding: 100px 45px 183px;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 42px;
    }

    @include vp-767 {
      padding: 64px 0 277px;
      text-align: left;
      gap: 33px;
    }
  }
}

.gym__text-wrapper {
  margin-top: 40px;

  @include vp-1199 {
    margin-top: 0;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.gym__title {
  margin-top: 0;
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 48px;
  line-height: normal;
  letter-spacing: 1.44px;

  @include vp-1199 {
    margin-bottom: 0;
    padding-right: 16px;
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    margin-bottom: 5px;
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.gym__info {
  display: block;
  margin-top: 0;
  margin-bottom: 38px;
  font-family: $ff-roboto-condensed;
  font-size: 18px;
  line-height: 150%;

  @include vp-1199 {
    margin-bottom: 34px;
  }

  @include vp-767 {
    margin-bottom: 23px;
  }
}

.gym__text {
  margin-top: 0;
  margin-bottom: 9px;
  font-family: $ff-roboto-condensed;
  font-weight: 300;

  @include vp-1199 {
    margin-bottom: 0;
    padding: 0 46px;
  }

  @include vp-767 {
    padding: 0 35px 0 0;
  }

  &:last-of-type {
    margin-bottom: 0;

    @include vp-1199 {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
      z-index: -1;
    }
  }
}

.gym__media-wrapper {
  position: relative;
  height: fit-content;
}

.gym__image-wrapper {
  width: 660px;
  height: 401px;
  background-color: #cacaca;

  @include vp-1199 {
    width: 678px;
    height: 345px;
  }

  @include vp-767 {
    width: auto;
    height: 313px;
  }

  img {
    @include vp-767 {
      width: 100vw;
      height: 313px;
    }
  }
}

.gym__video-wrapper {
  position: absolute;
  bottom: -116px;
  left: -63px;

  @include vp-1199 {
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -54%);
  }

  @include vp-767 {
    bottom: -95%;
  }
}

.gym__video {
  width: 364px;
  height: 228px;
  position: relative;
  background-image: image-set("../img/gym-video-poster.webp", "../img/gym-video-poster.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-additional-background;

  &.ready {
    .gym__video-play {
      display: none;
    }
  }

  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  @include vp-1199 {
    width: 266px;
    height: 167px;
    background-size: 100%;
  }

  @include vp-767 {
    width: 100vw;
    height: 167px;
    background-image: image-set("../img/gym-video-poster-mobile.webp", "../img/gym-video-poster-mobile.jpg");
  }
}

.gym__video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url("../img/sprite/icon-video-play.svg");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    background-image: url("../img/sprite/icon-video-play-hover.svg");
  }

  &:active {
    background-image: url("../img/sprite/icon-video-play-active.svg");
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.4;
    background-image: url("../img/sprite/icon-video-play-hover.svg");
  }

  @include vp-1199 {
    width: 73px;
    height: 73px;
    background-size: 73px;
  }
}
