.hero {
  .container {
    display: flex;
    gap: 28px;
    padding-bottom: 51px;

    @include vp-1199 {
      padding-bottom: 82px;
      gap: 0;
      justify-content: space-between;
    }

    @include vp-767 {
      justify-content: center;
      padding-top: 75px;
      padding-bottom: 77px;
    }
  }
}

.hero__inner-wrapper {
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  padding-top: 96px;

  @include vp-1199 {
    padding-top: 52px;
  }

  @include vp-767 {
    margin-right: 0;
    padding-top: 0;
  }
}

.hero__image-wrapper {
  width: 500px;
  height: 556px;
  margin-top: -24px;
  background-color: #332254;

  @media (max-width: 1360px) {
    margin-top: 0;
  }

  @include vp-1199 {
    margin-top: -4px;
    width: 324px;
    height: 390px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__image-wrapper img {
  object-fit: cover;
  height: 100%;

  @include vp-767 {
    display: none;
  }
}

.hero__description {
  padding: 0;
  margin: 10px 0 0 19px;
  list-style: none;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: center;
  width: 113px;
  font-family: $ff-roboto-condensed;
  font-size: 14px;
  line-height: 150%;
  text-align: right;

  @include vp-1199 {
    margin: 0;
  }
}

.hero__city {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  padding-right: 80px;
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 1.44px;
  text-align: right;
  text-transform: uppercase;

  @include vp-1199 {
    padding-right: 23px;
    margin-bottom: 15px;
    font-size: 34px;
    letter-spacing: 1.02px;
  }

  @include vp-767 {
    padding-right: 9px;
    font-size: 28px;
    margin-bottom: 38px;
  }
}

.hero__title {
  padding-right: 38px;
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  margin-top: -30px;
  margin-bottom: 0;
  max-width: 300px;
  font-weight: 800;
  font-size: 92px;
  line-height: 118%;
  letter-spacing: 4.6px;
  text-align: right;
  text-transform: uppercase;

  @include vp-1199 {
    padding-right: 17px;
    font-size: 72px;
    letter-spacing: 3.6px;
    max-width: 235px;
  }

  @include vp-767 {
    line-height: 127%;
    padding-right: 0;
    margin-bottom: 17px;
    max-width: 213px;
  }
}


.hero__button {
  height: fit-content;
  grid-column: 2 / -1;
  grid-row: 3 / -1;
  justify-self: flex-end;
  margin-right: 34px;

  @include vp-1199 {
    margin-right: 20px;
  }

  @include vp-767 {
    grid-column: 1 / -1;
    justify-self: stretch;
    margin-right: 0;
  }
}
