.review {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px 62px 55px;
  width: auto;
  height: auto;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;
  background-color: #1c3374;

  @include vp-1199 {
    padding: 55px 66px;
  }

  @include vp-767 {
    padding: 40px 25px 30px;
  }
}

.review__wrapper {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 0 26px;

  @include vp-767 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 16px 15px;
  }
}

.review__author-image {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  border-radius: 80px;
  margin-top: 7px;

  @include vp-767 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: 0;
    justify-self: flex-end;
  }
}

.review__author-name {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 150%;

  @include vp-767 {
    margin-bottom: 0;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    justify-self: flex-start;
    align-self: center;
  }
}

.review__author-text {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  line-height: 140%;

  p {
    margin: 0;
  }

  @include vp-767 {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    text-align: center;
  }
}
