.social {
  max-width: 200px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 11px;
}

.social__link {
  display: block;
  padding: 6px;
  background-color: $color-default-white;
  border-radius: 50%;
}

.social__icon {
  display: block;
  fill: $color-background-footer;
}
