.super-games {
  max-width: 100%;
  color: $color-default-white;
  background-color: $color-default-background;

  .container {
    padding: 120px 103px 106px;
    display: flex;
    justify-content: center;

    @include vp-1199 {
      padding: 100px 45px;
    }

    @include vp-767 {
      padding: 70px 15px 64px;
      flex-direction: column;
      align-items: center;
    }
  }
}

.super-games__banner-wrapper {
  padding: 80px 79px 87px;
  display: flex;
  flex-direction: column;
  background-color: $color-background-banner;

  @include vp-1199 {
    padding: 46px 45px;
  }

  @include vp-767 {
    padding: 47px 44px 51px;
  }
}

.super-games__banner-info {
  display: grid;
  align-items: center;
  grid-template-columns: 200px auto;
  gap: 50px;
  margin-bottom: 10px;

  @include vp-1199 {
    margin-bottom: 2px;
    grid-template-columns: 117px auto;
    gap: 30px;
  }

  @include vp-767 {
    margin-bottom: 0;
    justify-content: space-between;
  }
}

.super-games__title {
  margin-top: -20px;
  margin-bottom: 0;
  padding-left: 10px;
  font-weight: 600;
  font-size: 82px;
  line-height: 96%;
  letter-spacing: 2.46px;
  text-transform: uppercase;

  @include vp-1199 {
    margin-top: -5px;
    padding-left: 9px;
    font-size: 48px;
    letter-spacing: 1.44px;
  }
}

.super-games__image-wrapper {
  background-color: $color-background-dark;

  img {
    width: 100%;
    height: 100%;
  }

  @include vp-767 {
    height: 292px;
  }
}

.super-games__banner-text {
  margin-bottom: 45px;
  font-family: $ff-roboto-condensed;
  font-size: 18px;
  line-height: 150%;

  p {
    margin: 0;
  }

  @include vp-1199 {
    margin-bottom: 30px;
    font-size: 12px;
  }

  @include vp-767 {
    margin-bottom: 31px;
  }
}

.super-games__date-and-time {
  display: flex;
  flex-direction: column;
  gap: 19px;
  font-family: $ff-roboto-condensed;

  @include vp-1199 {
    gap: 7px;
  }
}

.super-games__date-wrapper,
.super-games__time-wrapper {
  margin: 0;
  width: fit-content;
}

.super-games__date-title,
.super-games__time-title {
  padding-bottom: 5px;
  display: block;
  width: 100%;
  position: relative;
  font-family: $ff-roboto-condensed;
  font-size: 18px;
  line-height: 150%;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $color-default-white;
  }

  @include vp-1199 {
    padding-bottom: 2px;
    font-size: 12px;
  }
}

.super-games__date-info {
  margin-top: 5px;
  display: grid;
  align-items: center;
  grid-template-columns: min-content auto;
  grid-template-rows: repeat(2, 20px);
  gap: 0 8px;

  dd {
    margin-left: 0;
  }

  @include vp-1199 {
    grid-template-rows: repeat(2, 11px);
    margin-top: 4px;
    gap: 0 3px;
  }
}

.super-games__time {
  margin-top: -5px;

  @include vp-1199 {
    margin-top: -4px;
  }
}

.super-games__date-day {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.super-games__date-day,
.super-games__time {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;

  @include vp-1199 {
    font-size: 24px;
  }
}

.super-games__date-month,
.super-games__date-year {
  font-size: 14px;
  line-height: 150%;

  @include vp-1199 {
    font-size: 10px;
  }
}
