.tabs {
  width: 100%;
}

.tabs__controls {
  position: relative;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 40px;
  line-height: 150%;

  @media (max-width: ($vp-1200 - 1)) {
    margin-bottom: 45px;
  }

  @media (max-width: ($vp-768 - 1)) {
    justify-content: flex-start;
    margin-bottom: 34px;
  }

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}

.tabs__content {
  transition: height 0.3s;
}

.tabs__element {
  width: 100%;

  p {
    margin: 0;

    &:not(:last-child) {
      margin: 0 0 20px 0;
    }
  }
}

.tabs--unset .tabs__content {
  height: 100px;
}

.tabs--unset .tabs__element {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tabs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

  @media (max-width: ($vp-768 - 1)) {
    gap: 35px;
  }
}
